{%load static%}
<nav class="navbar navbar-inverse">
    <div class="container" style="padding: 1.5%;">
        <div class="navbar-header">
            <div class="navbar-menu" style="cursor:pointer" onclick="openNav()">
                <img src="https://img.icons8.com/material-sharp/40/000000/menu.png">
            </div>
        </div>
        <div class="nav navbar-nav navbar-center">
            <a href="{% url 'index' %}" class="navbar-brand">
        </div>
        <div class="navbar-right">

            <div class="srch-form">
                <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                    <input type="search" class="" placeholder="Search Project" name="project">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% if user.is_authenticated %}
    {% if user.profile.profile_pic %}
    <a href="{% url 'profile' username=user %}"><img src="{{user.profile.profile_pic.cdn_url}}" class="img-fluid" alt=""
        style="object-fit: cover; object-position: 100% 0; width: 150px; height: 150px; border-radius: 50%; margin: auto; box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);"></a>
    {% else %}
    <div class="card-custom-avatar-profile">
        <a href="{% url 'profile' username=user %}"><img class="img-fluid" src="{%static 'images/icon8.png'%}" alt="Avatar"></a>
    </div>
    {% endif %}
    <a href="{%url 'new-project'%}" style="color: green;">Submit</a>
    <a href="{%url 'index'%}">Home</a>
    <a href="{% url 'profile' username=user %}">Profile</a>
    <a href="/accounts/password/change">Change Password</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/accounts/login">Login</a>
    {% endif %}
</div>
<!-- <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script> -->