{% extends 'base.html' %} 
{% load bootstrap4 %} 
{% load static%} 
{% block content %}

<div class="container">
  {% if profile_details.profile_pic %}
  <div class="jumbotron burner" style="height: 50%; color: aliceblue">
    <div class="avii m-auto">
      <img
        src="{{profile.profile.profile_pic.cdn_url}}"
        class="img-fluid"
        alt=""
        style="
          object-fit: cover;
          object-position: 100% 0;
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: solid #e8f0ee 5px;
        "
      />
      {% else %}
      <div class="card-custom-avatar-profile">
        <img
          class="img-fluid"
          src="{%static 'images/icon8.png'%}"
          alt="Avatar"
        />
      </div>
      {% endif %}
    </div>

    <ul class="list-inline">
      <li class="list-inline-item">
        <span>
          <h4><strong>{{profile.username}}</strong></h4>
        </span>
      </li>
      {% if profile.username == user.username %}
      <li class="list-inline-item">
        <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-outline-dark"
          ><strong>Edit Profile</strong></a
        >
      </li>
      <li>
        <span>
          {% autoescape on %}
          <h5 style="font-family: 'Arsenal', sans-serif">
            <strong>{{profile_details.bio| safe}}</strong>
          </h5>
          {% endautoescape %}
        </span>
      </li>
      {%endif%}
    </ul>
  </div>
</div>
<dir class="row pt-5 m-auto">
    {% if projects%}
    {% for item in projects %}
    <div class="col-md-6 col-lg-4 pb-3">

        <div class="card card-custom bg-white border-white border-0">
            <div>
                <img src="{{item.img.cdn_url}}" alt="" class="img-fluid">
            </div>
            <!-- <div class="card-custom-img"
                                style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);">
                            </div> -->

            <div class="card-body" style="overflow-y: auto">
                <h4 class="card-title"><strong>{{item.title}}</strong></h4>
                <p class="card-text"><strong>About: </strong> <span
                        style="font-family: 'Arsenal', sans-serif;">{{item.description}}</span></p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit; border: none;">
                <a href="#" class="btn btn-dark rounded rounded-pill btn-block">Review</a>
                <a href="{{item.live_site}}" class="btn btn-outline-dark rounded rounded-pill btn-block">Go To Site</a>
            </div>


        </div>


    </div>
    {% endfor %}
    {% endif %}
</dir>
</div>



{% endblock %}