body {
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  
  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .navbar-brand {
    position: relative;
    width: 350px;
  }
  
  .srch-form {
    position: relative;
  
  }