
body {
  font-family: 'Alegreya Sans SC', sans-serif;
}


.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-brand {
  position: relative;
  width: 350px;
}

.srch-form {
  position: relative;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.801);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar-form {
  transform: translateZ(10px) !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid rgb(0, 0, 0);
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  ;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.navbar-form:hover {
  width: 200px;
  cursor: pointer;
}

.navbar-form:hover input {
  display: block;
}

.navbar-form:hover .fa {
  background: #07051a;
  color: white;
}


.landing {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-position: bottom;
  /* -webkit-background-size: cover; */
  /* height: 310px; */
  height: 70%;

}

.cover.container-fluid {
  background: linear-gradient(144deg, rgba(10, 32, 41, 1) 0%, rgba(25, 0, 78, 1) 100%);

  height: inherit;
}

.carousel-item {
  padding: 3%;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  border-radius: 6px;
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: grayscale(0%);
}

.card-custom-avatar:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(50%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(50%);
}

.card-custom-avatar-profile img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  width: 100px;
  height: 100px;
  margin: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  filter: grayscale(0%);
}

.card-custom-avatar-profile:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width:768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: #eee;
  }

  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

@media only screen and (max-width: 766px) {
  .navbar-center {
    display: none;
  }
  .title {
    display: none;
  }
  .navbar-form {
    display: none;
  }
  .card-custom-avatar {
    display: none;
  }
}